a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0.8;
}

a:hover {
  color: #F6762C;
  -webkit-transition: .5s;
  transition: .5s;
}

p {
  margin: 0;
}

header {
  background-image: url("../images/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto";
}

.menu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding: 0;
}

.logo {
  width: 100px;
  height: 100px;
}

#menu {
  margin-left: 320px;
}

.nav-link {
  text-transform: uppercase;
  line-height: 16px;
  font-family: "Roboto";
  color: #fff;
  font-size: 14px;
  opacity: 0.7;
  margin-left: 6px;
  margin-right: 6px;
}

.nav-link:hover {
  line-height: 18px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  opacity: 1;
}

.nav-link:focus {
  line-height: 18px;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  opacity: 1;
}

.navbar-toggler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #F6762C;
  padding: 10px 10px;
}

.navbar-toggler-icon {
  content: "";
  width: 30px;
  height: 2px;
  background: #fff;
}

.navbar-toggler-icon:not(:last-of-type) {
  margin-bottom: 5px;
}

.menu__order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F6762C;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  height: 50px;
  width: 165px;
  border: none;
  border-radius: 5px;
  padding: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu__order:hover {
  background-color: #c25211;
  -webkit-transition: .5s;
  transition: .5s;
}

.about {
  margin-top: 186px;
  padding-bottom: 242px;
}

.about__inner {
  width: 555px;
}

.about p {
  color: #fff;
  opacity: 0.7;
  font-size: 18px;
}

.about p:first-child {
  text-transform: uppercase;
  opacity: 1;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.1em;
  margin-bottom: 7px;
}

.about p:last-of-type {
  margin-bottom: 42px;
  line-height: 21px;
}

.about h1 {
  color: #fff;
  font-size: 57px;
  font-weight: 500;
  margin-bottom: 37px;
}

.about button {
  background: #F6762C;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  padding: 15px 37px;
  -webkit-transition: .5s;
  transition: .5s;
}

.about button:hover {
  background-color: #c25211;
  -webkit-transition: .5s;
  transition: .5s;
}

main {
  font-family: "Roboto";
}

.pages {
  width: 100%;
  background-color: #1C1C1C;
  padding-top: 115px;
  padding-bottom: 102px;
  color: #fff;
  line-height: 19px;
}

.pages__item {
  height: 100%;
  background-color: #312F30;
  border-radius: 10px;
  padding-bottom: 30px;
  -webkit-transition: .5s;
  transition: .5s;
}

.pages__item:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 5px 10px 3px #353232;
          box-shadow: 0 5px 10px 3px #353232;
}

.pages img {
  width: 100%;
}

.pages h4 {
  margin-top: 28px;
  margin-bottom: 13px;
  text-align: center;
}

.pages p {
  opacity: 0.7;
  font-size: 16px;
  padding: 0 24px;
  text-align: center;
}

.offer {
  width: 100%;
  background-color: #312F30;
  color: #fff;
  font: "Roboto";
  padding-bottom: 43px;
}

.offer button {
  background-color: #F6762C;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 15px 37px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
}

.offer button:hover {
  background-color: #c25211;
  -webkit-transition: .5s;
  transition: .5s;
}

.offer__order {
  margin-top: 165px;
  max-width: 370px;
}

.offer__order img {
  width: 550px;
}

.offer__order h2 {
  font-size: 44px;
  margin-bottom: 24px;
}

.offer__order p {
  font-size: 16px;
  opacity: 0.7;
  line-height: 19px;
  margin-bottom: 13px;
}

.offer__order span {
  color: #F6762C;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.offer__order span:last-of-type {
  margin-left: 6px;
  opacity: 0.5;
  font-size: 16px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.offer__order__btn {
  margin-top: 11px;
}

.offer__order__btn--mob {
  display: none;
}

.pricing {
  width: 100%;
  background-color: #1C1C1C;
}

.pricing__inner {
  padding-top: 150px;
}

.pricing__item {
  padding-left: 55%;
  padding-top: 63px;
  padding-right: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Roboto";
  color: #fff;
  margin-bottom: 30px;
  height: 300px;
}

.pricing__item h4 {
  font-size: 30px;
  font-weight: 500;
  line-height: 35px;
}

.pricing__item p {
  margin-top: 20px;
  margin-bottom: 11px;
  opacity: 0.7;
  font-size: 16px;
  line-height: 19px;
  width: 252px;
}

.pricing__item span {
  color: #F6762C;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 19px;
  font-weight: 500;
}

.pricing__item span:last-of-type {
  opacity: 0.5;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.pricing__item button {
  background-color: #F6762C;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  padding: 13px 36px;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  -webkit-transition: .5s;
  transition: .5s;
}

.pricing__item button:hover {
  background-color: #c25211;
  -webkit-transition: .5s;
  transition: .5s;
}

.pricing__item__order {
  margin-top: 14px;
}

.feedback {
  width: 100%;
  background-color: #1C1C1C;
}

.feedback__inner {
  padding-top: 122px;
  padding-bottom: 195px;
}

.circle__out {
  position: relative;
  border: 1px dashed rgba(246, 118, 44, 0.3);
  border-radius: 50%;
  height: 350px;
  width: 350px;
  margin-left: 220px;
}

.circle__in {
  position: relative;
  border: 1px dashed rgba(246, 118, 44, 0.3);
  border-radius: 50%;
  height: 230px;
  width: 230px;
  margin-top: 60px;
  margin-left: 60px;
}

.circle__in img {
  position: absolute;
  left: -5px;
}

.photo__item__1 {
  position: absolute;
  top: 0px;
  left: 250px;
}

.photo__item__2 {
  position: absolute;
  top: 50px;
  left: -20px;
}

.photo__item__3 {
  position: absolute;
  top: 300px;
  left: 70px;
}

.photo__item__4 {
  position: absolute;
  top: 230px;
  left: 260px;
}

.feedback__text {
  margin-top: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  color: #fff;
  width: 370px;
}

.feedback__text p:first-of-type {
  margin-top: 37px;
  opacity: 0.7;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.feedback__text p:last-of-type {
  margin-top: 27px;
  margin-bottom: 2px;
  font-size: 24px;
  font-weight: 500;
}

.feedback__text span {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  opacity: 0.7;
}

.download {
  width: 100%;
  background-color: #312F30;
}

.download__inner {
  padding-top: 61px;
  padding-bottom: 60px;
  font-family: "Roboto";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.download__inner p {
  margin-left: 93px;
  color: #fff;
  font-size: 40px;
  font-weight: 500;
  line-height: 47px;
}

.download__inner #download {
  margin-right: 93px;
  color: #fff;
  text-transform: uppercase;
  background: #F6762C;
  padding: 15px 38px;
  border: none;
  border-radius: 5px;
  -webkit-transition: .5s;
  transition: .5s;
}

.download__inner #download:hover {
  -webkit-transition: .5s;
  transition: .5s;
  background-color: #c25211;
}

.contact__info__xs {
  display: none;
}

.contact__info {
  width: 100%;
  background-color: #1C1C1C;
  font-family: "Roboto";
  padding-top: 86px;
  padding-bottom: 140px;
}

.contact__info .col-sm:not(:first-of-type) {
  padding-top: 39px;
}

.contacts img {
  width: 132px;
  margin-left: -35px;
}

.contacts a {
  margin-bottom: 9px;
  font-size: 12px;
}

.contacts a:last-of-type {
  margin-bottom: 0;
}

.contacts__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__email img {
  width: 12px;
  height: 12px;
  margin: auto 7px auto 0;
}

.contacts__webpage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts__webpage img {
  width: 12px;
  height: 12px;
  margin-right: 7px;
  margin: auto 7px auto 0;
}

.our__menu {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.our__menu h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 14px;
}

.our__menu a {
  margin-bottom: 15px;
}

.info {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 14px;
}

.info a {
  margin-bottom: 15px;
}

.links {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.links h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 14px;
}

.links a {
  margin-bottom: 15px;
}

.media {
  color: #fff;
}

.media h5 {
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  margin-bottom: 14px;
}

.media__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.media__links img {
  margin-right: 10px;
}

@media (max-width: 1399px) {
  .pricing__item {
    padding-left: 47%;
  }
  .circle__out {
    margin-left: 150px;
  }
}

@media (max-width: 1200px) {
  #menu {
    margin-left: 220px;
  }
  .pricing__item {
    padding-left: 40%;
  }
  .circle__out {
    margin-left: 70px;
  }
}

@media (max-width: 992px) {
  #menu {
    margin-left: 20px;
  }
  .pages__item {
    height: 95%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .pages__item:hover {
    cursor: pointer;
    -webkit-box-shadow: none;
            box-shadow: none;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .offer img {
    width: 400px;
  }
  .offer__order {
    margin-top: 100px;
  }
  .offer__order__btn {
    display: none;
  }
  .offer__order__btn--mob {
    display: block;
    margin-top: 50px;
    padding-left: 35%;
  }
  .offer__order__btn--mob button {
    padding: 20px 74px;
  }
  .pricing__item {
    padding-left: 15%;
  }
  .feedback .col-md:first-of-type {
    display: none;
  }
  .feedback .col-md:last-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
    max-width: auto;
  }
  .feedback__text {
    margin-top: 0;
  }
  .circle__out {
    display: none;
  }
  .download__inner p {
    margin-left: 0;
  }
  .download__inner #download {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .collapse {
    -webkit-transition: all .5s;
    transition: all .5s;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
  .navbar-expand-md {
    width: 100%;
  }
  .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar .nav-item:hover {
    margin-left: 0;
  }
  #menu {
    position: absolute;
    top: 80px;
    left: 400px;
  }
  .navbar-nav {
    width: 100px;
    background-color: #F6762C;
    border-radius: 5px;
  }
  .about__inner {
    width: 500px;
  }
  .menu__order {
    display: none;
  }
  .pages__item {
    max-width: 300px;
  }
  .row {
    display: block;
  }
  .offer img {
    width: 300px;
    margin-left: 20%;
  }
  .offer__order {
    margin-left: 120px;
    margin-top: 0;
  }
  .offer__order__btn--mob {
    padding-left: 25%;
  }
  .pricing__item {
    padding-left: 50%;
  }
  .download__inner p {
    font-size: 4vw;
  }
  .download__inner #download {
    padding: 2vw 4vw;
  }
  .contacts img {
    width: 110px;
  }
  .contacts__email img {
    width: 12px;
  }
  .contacts__webpage img {
    width: 12px;
  }
  .contact__info__sm {
    display: none;
  }
  .contact__info__xs {
    display: block;
  }
  .contact__info__xs .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__info__xs .row:last-of-type {
    margin: 70px 50px 0 50px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact__info__xs .col-xs {
    width: auto;
  }
}

@media (max-width: 540px) {
  .navbar-toggler {
    margin-left: 250px;
  }
  .about__inner {
    width: 400px;
  }
  .about h1 {
    font-size: 10vw;
  }
  .pages__item {
    max-width: 250px;
  }
  .pricing__item {
    padding-left: 50%;
  }
  .pricing__item p {
    width: 200px;
  }
}
